<div class="index-top index" >
    <div class="index-top-bg">
        <%= image_tag("dummy1.jpg")%>
    </div>
    <h1 class="pc">최고의 서비스는 완벽하게 디자인 되어야 한다.</h1>
    <h1 class="mobile">최고의 서비스는<br> 완벽하게 디자인 되어야 한다.</h1>
    <h2 class="pc">고객이 단순히 사용하는 서비스가 아닌, 고객이 좋아하는 서비스를 만들 수 있도록 지원해드립니다.<bR>
    타겟 고객에게 직접 서비스를 경험시키고, 생생한 피드백을 받아보세요.</h2>
    <h2 class="mobile">고객이 단순히 사용하는 서비스가 아닌,<br> 고객이 좋아하는 서비스를 만들 수 있도록<br> 지원해드립니다.
    타겟 고객에게 직접 서비스를<Br> 경험시키고, 생생한 피드백을 받아보세요.</h2>
    <button><%= link_to'무료 사용성 테스트 하기', testing_first_path ,class:"text-white aboutus-button-text h4", style:"text-decoration: none; font-size :23px;"%></button>
    <%= image_tag('arrow-double-down-white.svg', class:"index-top-arrow", style:"width: 35px;", onclick: "move()")%>
</div>
<div class="index-middle">
    <h1 class="hideme pc">크라우드 소싱을 이용한 UX,UI 검증 플랫폼</h1>
    <h1 class="hideme mobile">크라우드 소싱을 이용한<br> UX,UI 검증 플랫폼</h1>
    <div class="index-middle-box">
        <div class="index-middle-box-content pc card1">
            <div class="d-flex flex-column align-items-center w-100">
                <%= image_tag('W_img_main_icon_1.svg')%>
                <div class="card-body">
                    <p>고객에게 기대하는<br> 일련의 행동(목표)와 타겟,<br>리워드를 등록하세요</p>
                </div>
            </div>
        </div> 
        <div class="index-middle-box-content pc card2">  
            <div class="d-flex flex-column align-items-center w-100">
                <%= image_tag('W_img_main_icon_2.svg')%>
                <div class="card-body">
                    <p>테스터는 목표를 수행하며<br> 서비스를 경험합니다</p>
                </div>
            </div>
        </div>
        <div class="index-middle-box-content pc card3">  
            <div class="d-flex flex-column align-items-center w-100">
                <%= image_tag('W_img_main_icon_3.svg')%>
                <div class="card-body">
                    <p>모든 테스트 결과를<br> 리포팅해드립니다</p>
                </div>
            </div>
        </div>
        <div class="index-middle-box-content mobile card1">
            <div class="d-flex flex-column align-items-center w-100">
                <%= image_tag('W_img_main_icon_1.svg')%>
                <div class="card-body">
                    <p>고객에게 기대하는<br> 일련의 행동(목표)와 타겟,<br>리워드를 등록하세요</p>
                </div>
            </div>
        </div> 
        <div class="index-middle-box-content mobile card2">  
            <div class="d-flex flex-column align-items-center w-100">
                <%= image_tag('W_img_main_icon_2.svg')%>
                <div class="card-body">
                    <p>테스터는 목표를 수행하며<br> 서비스를 경험합니다</p>
                </div>
            </div>
        </div>
        <div class="index-middle-box-content mobile card3">  
            <div class="d-flex flex-column align-items-center w-100">
                <%= image_tag('W_img_main_icon_3.svg')%>
                <div class="card-body">
                    <p>모든 테스트 결과를<br> 리포팅해드립니다</p>
                </div>
            </div>
        </div>    
    </div>
    <h3 class="hideme2 pc">지금까지 더 테스터와 함께한 기업들 ></h3>
    <h3 class="hideme2 mobile">지금까지 더 테스터와 함께한 기업들 ></h3>
</div>
<div class="index-bottom"> 
        <h1 class="pc">고객 관점에서 생각하기, 많이 어려우셨죠?</h1>
        <h1 class="mobile">고객 관점에서 생각하기,<Br> 많이 어려우셨죠?</h1>
        <h2 class="pc">이제는 생략하지 마세요. 잠시 미뤄두었던, 잊고 있었던 고객 중심의 가치를 찾아드립니다.<br>
        UX,UI 컨설팅과 온라인 서비스의 기획, 디자인을 맡겨주세요.</h2>
        <h2 class="mobile">이제는 생략하지 마세요. 잠시 미뤄두었던,<br> 잊고 있었던 고객 중심의 가치를 찾아드립니다.<br>
        UX,UI 컨설팅과 온라인 서비스의<Br> 기획, 디자인을 맡겨주세요.</h2>
        <button class="index-button">
            <%= link_to'컨설팅, 외주 의뢰하기', contact_path ,class:"index-button aboutus-button-text h4", style:"text-decoration: none; font-size :23px;"%>
        </button>
</div>
<script>
  function move() {
        var move = $(".index-middle").offset().top;
        $('html, body').animate({scrollTop : move}, 600);
    }
</script>