
<div class="index-top works" >
    <%= image_tag("dummy1.jpg", class:"index-top-bg")%>
    <%=image_tag("W_img_title_recruit.svg", {:class=>"index-top-img"})%>
    <h1 class="pc">"더 테스터와 함께 완벽을 만들어 나갈 인재를 모십니다.”</h1>
    <h1 class="mobile">"더 테스터와 함께<br> 완벽을 만들어 나갈<br> 인재를 모십니다.”</h1>
    <h2>사용자 중심으로 서비스를 만드는 것은 필수적이지만 많은 기업이 생략하고 있습니다.<Br>
    저희는 세상이 아직 깨닫지 못한 옳은 일, 해야하는 일을 하고, 그 가치를 전달합니다. </h2>
</div>

<div class="d-flex flex-column justify-content-center align-items-center">
    <div style="margin-top: 80px;">
        <p class="h1">Members</p>
    </div>

    <div class="container">
<<<<<<< HEAD
        <div class="row pc" style="margin-bottom: 150px; margin-top: 100px;">
            <div class="col-lg d-flex justify-content-center align-items-center" style="width: 450px;">
=======
        <div class="row" style="margin-bottom: 150px; margin-top: 100px;">
            <div class="col-lg d-flex justify-content-center align-items-center" style="width: 250px;">
>>>>>>> 7ab10d6f2453615a99a63b8c333efa05627beb31
                <div class="mr-5"><%= image_tag('W_img_recruit_jisoo.png', class:"recruit-img")%></div>
                <div>
                    <p class="h6">CEO. Founder</p>
                    <p class="h4">강 지 수</p>
                    <p class="h6">편견없는 기획자</p>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center align-items-center" style="width: 250px;">
                <div class="mr-5"><%= image_tag('W_img_recruit_ahram.png', class:"recruit-img")%></div>
                <div>
                    <p class="h6">CDO. Co-Founder</p>
                    <p class="h4">김 아 람</p>
                    <p class="h6">아직 젊은 디자이너</p>
                </div>
            </div>
        </div>
            <!-- mobile -->
        <div class="mobile d-flex flex-column justify-content-center align-items-center recruit-mobile">
            <div class="mobile recruit-profile">
                <div class="col-sm mt-5 mb-4"><%= image_tag('W_img_recruit_jisoo.png', class:"recruit-img")%></div>
                <div class="col-sm">
                    <h6 class="text-center">CEO. Founder</h6>
                    <h4 class="text-center">강 지 수</h4>
                    <h6 class="text-center">편견없는 기획자</h6>
                </div>
            </div>
            <div class="mobile recruit-profile">
                <div class="col-sm mt-5 mb-4"><%= image_tag('W_img_recruit_ahram.png', class:"recruit-img")%></div>
                <div class="col-sm">
                    <h6 class="text-center">CDO. Co-Founder</h6>
                    <h4 class="text-center">김 아 람</h4>
                    <h6 class="text-center">아직 젊은 디자이너</h6>
                </div>
            </div>
        </div>
    </div>
    

    <div class="mt-5 mb-5">
        <p class="h1 text-center">Recruit</p>
    </div>

    <div class="mb-5">
        <p class="pc h2 text-center">“사용성 테스트에 대한 이해와 관심을 가지고 있고,</p>
        <p class="pc h2 text-center">자유로운 분위기 속에서 함께 즐기며 일할 수 있는 엔지니어를 찾습니다”</p>
        <p class="text-center mobile recruit-box">“사용성 테스트에 대한<br>이해와 관심을 가지고 있고,<br>자유로운 분위기 속에서<br>함께 즐기며 일할 수 있는<br>개발자를 찾습니다”</p>
    </div>
    

<<<<<<< HEAD
    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <div class="pc" style="margin-right: 8rem; margin-top: 1rem;">
=======
    <div class="d-flex justify-content-center" style="margin-top: 80px;">
        <div class="recruit-explain" style="margin-right: 180px;margin-top: 20px;">
>>>>>>> 7ab10d6f2453615a99a63b8c333efa05627beb31
            <p>모집분야&nbsp;&nbsp;&nbsp;&nbsp;엔지니어</p>
            <p>모집인원&nbsp;&nbsp;&nbsp;&nbsp;0명</p>
            <p>자격요건 &nbsp;&nbsp;&nbsp;&nbsp;1. 플랫폼 개발 경력 2~3년 이상</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 빅데이터 분석 처리 경험 有</p>
            <p>지원기간&nbsp;&nbsp;&nbsp;&nbsp;채용 시까지</p>
            <p>지원서류&nbsp;&nbsp;&nbsp;&nbsp;이력서, 자기소개서, 포트폴리오</p>
        </div>
<<<<<<< HEAD

        <div class="pc" style="width: 345px;">
=======
        <div style="width: 480px;">
>>>>>>> 7ab10d6f2453615a99a63b8c333efa05627beb31
            <%= form_with(model: @post, local: true, url: "/recruitsubmit") do |form| %>
            <% if @post.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                    <% @post.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
            <div class="recruit-input-box"><label>이름*&nbsp;&nbsp;</label><input class="recruit-input" type="text" id="name" name="name"></div>
            <div class="recruit-input-box"><label>연락처*&nbsp;&nbsp;</label><input class="recruit-input" type="text" id="phonenumber" name="phonenumber"></div>
            <div class="recruit-input-box"><label>이메일*&nbsp;&nbsp;</label><input class="recruit-input" id="email" type="email" name="email"></div>
            <div class="d-flex recruit-input-box">
            <div style="margin-top: 10px;width: 30%"><label for="file ">파일 업로드*</label></div>
            <div class="d-flex flex-column " style="width: 60%;">
            <div class="recruit-inputfile-box">
        
            <%= form.file_field :attachment %>
            </div>
            <div class="recruit-inputfile-box">
                
            <%= form.file_field :attachment2 %>
            </div>
            <div class="recruit-inputfile-box">
            
            <%= form.file_field :attachment3 %>
            </div>
            </div>
            </div>
            <% end %>
            <div class="d-flex justify-content-center align-items-center">
            <button class="recruit-button">더 테스터 지원하기</button>
            </div>
        </div>
      </div>
        <!--mobile-->
      <div class="mobile">
        <div class="mobile recruit-qualification">
            <p class="bold">모집분야</p>
            <p>엔지니어</p>
            <p class="bold">모집인원</p>
            <p>0명</p>
            <p class="bold">자격요건</p>
            <p>1. 플랫폼 개발 경력 2~3년 이상</p>
            <p>2. 빅데이터 분석 처리 경험 有</p>
            <p class="bold">지원기간</p>
            <p>채용 시까지</p>
            <p class="bold">지원서류</p>
            <p>이력서, 자기소개서, 포트폴리오</p>
        </div>

        <div class="recruit-input">
            <%= form_with(model: @post, local: true, url: "/recruitsubmit") do |form| %>
                <% if @post.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                        <ul>
                            <% @post.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
            <div class="recruit-input-box mb-3"><input required class="recruit-input" type="text" id="uname" placeholder="이름 *"></div>
            <div class="recruit-input-box mb-3"><input required class="recruit-input" type="text" id="phone" placeholder="연락처 *"></div>
            <div class="recruit-input-box mb-3"><input required class="recruit-input" id="emailAddress" type="email" placeholder="이메일 *"></div>
            <div class="mb-3"><label for="file">파일 업로드*</label></div>
                <div class="d-flex flex-column align-items-center recruit-input-box mb-5">
                    <div class="recruit-inputfile-box mb-3">
                        <%= form.file_field :attachment %>
                    </div>
                    <div class="recruit-inputfile-box mb-3">
                        <%= form.file_field :attachment2 %>
                    </div>
                    <div class="recruit-inputfile-box mb-3">
                        <%= form.file_field :attachment3 %>
                    </div>
                </div>
            <div class="d-flex flex-column align-items-center">
                <button class="recruit-button">더 테스터 지원하기</button>
            </div>
            <% end %>
        </div>
      </div>

    </div>

</div>

<script>
    $(".navbar-nav a:nth-child(4)").addClass("color");
    $(".recruit-button").click(function() {
        if ($("#name").val() == '') {
            alertify.alert()
            .setting({
                'frameless':false,
                'title':"이름 작성 오류",
                'closableByDimmer':true,
                'closable': false,
                modal: false,
                transition:'pulse',
                'pinnable': false,
                message: '이름은 필수 작성 사항입니다.',
                'label':'Ok'
            }).show();
            toggle = false; 
        }
        else if ($("#phonenumber").val() == 0) {
            alertify.alert()
            .setting({
                'frameless':false,
                'title':"연락처 작성 오류",
                'closableByDimmer':true,
                'closable': false,
                modal: false,
                transition:'pulse',
                'pinnable': false,
                message: '연락처는 필수 작성 사항입니다.',
                'label':'Ok'
            }).show();
            toggle = false; 
            
        }
        else if ($("#email").val() == '') {
            
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"이메일 작성 오류",
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: '이메일은 필수 작성 사항입니다.',
                        'label':'Ok'
                    }).show();
                    toggle = false; 
        }
               
        else {
           $("form").submit();
        } 
      
    });
</script>