
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>

    </style>
  </head>
  <body>
    <h1>회사명/직책</h1>
    <h2><%=@params[:brandname]%></h2>
    <h1>이름</h1>
    <h2><%=@params[:name]%></h2>
    <h1>연락처</h1>
    <h2><%=@params[:phonenumber]%></h2>
    <h1>이메일</h1>
    <h2><%=@params[:email]%></h2>
    <h1>컨설팅/제휴 문의 등</h1>
    <h2><%=@params[:question]%></h2>
  </body>
  
</html>