
<section class="card-body-1">
    <div class="card-body-1-left d-flex flex-column">
        <label>예상 시간*</label>
        <div class="d-flex align-items-center card-body-1-left-content">
            <div class="card-body-1-left-hour">
                <select class="minute minute<%=@purpose_generator%> ui dropdown" name="[purpose][purpose<%=@purpose_generator%>][minute]" form="second-form">
                <%@time=0%>
                <%while @time < 60%>
                    <option value="<%=@time%>"><%=@time%></option>
                    <%@time+=1%>
                <%end%>
                </select>
                <%=image_tag("testing-topbottom-arrow.svg", :class=>"select-arrow")%>
            </div>
            <h1>분</h1>
            <div class="card-body-1-left-minute">
                <select class="second second<%=@purpose_generator%> ui dropdown"  name="[purpose][purpose<%=@purpose_generator%>][second]" form="second-form">
                <%@time=0%>
                <%while @time < 60%>
                    <option value="<%=@time%>"><%=@time%></option>
                    <%=@time+=1%>
                <%end%>
                </select>
                <%=image_tag("testing-topbottom-arrow.svg", :class=>"select-arrow")%>
            </div>
            <h1>초</h1>
        </div>
    </div>
    <div class="card-body-1-right d-flex flex-column">
        <label>이 목표를 통해 어떤 것을 알고 싶으신가요?</label>
        <input class="purpose" type="text" name="[purpose][purpose<%=@purpose_generator%>][goal]">
    </div>
</section>
