
<%$c["purpose" + $a.to_s() +"cardnumber"]+=1%>
<%i=$c["purpose" + $a.to_s() +"cardnumber"]%>
<%if @b == nil then @b = $a end%>
<section class="card-body-2">
        <div class="card-body-2-left">
            <div class="card-body-2-left-box first">
                <label>타겟명*<%=@b%></label>
                <input placeholder="20대 후반 여성"  type="text" name="[purpose][purpose<%=@b%>][exp<%=i%>][target]">
            </div>
            <div class="card-body-2-left-box">
                <label>테스터 수*</label>
                <select class="form-control" name="[purpose][purpose<%=@b%>][exp<%=i%>][testernumber]" form="second-form">
                        <option value="0">선택</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                </select>
            </div>
            <div class="card-body-2-left-box sex">
                <label>성별</label>
                <div>
                <span class="d-flex align-items-center">
                    <input name="[purpose][purpose<%=@b%>][exp<%=i%>][sex]" value="no matter" type="radio"/>
                    <h1>무관</h1>
                </span>
                <span class="d-flex align-items-center">
                    <input name="[purpose][purpose<%=@b%>][exp<%=i%>][sex]" value="female" type="radio"/>
                    <h1>여자</h1>
                </span>
                <span class="d-flex align-items-center">
                    <input name="[purpose][purpose<%=@b%>][exp<%=i%>][sex]" value="male" type="radio"/>
                    <h1>남자</h1>
                </span>
                </div>
            </div>
            <div class="card-body-2-left-box" >
                <label>연령대</label>
                <span class="d-flex justify-content-between">
                    <select class="form-control" name="[purpose][purpose<%=@b%>][exp<%=i%>][age]" form="second-form">
                        <option value="none">나이대</option>
                        <option value="10">10대</option>
                        <option value="20">20대</option>
                        <option value="30">30대</option>
                        <option value="40">40대</option>
                        <option value="50">50대</option>
                        <option value="60">60대</option>
                        <option value="70">70대</option>
                        <option value="80">80대</option>
                    </select>
                    <select class="form-control">
                        <option>무관</option>
                    </select>
                </span>
            </div>  
            <div class="card-body-2-left-box">
                <label>싱세 기준</label>
                <input placeholder="SNS를 자주 이용하는 사람" name="[purpose][purpose<%=@b%>][exp<%=i%>][detail]">
            </div> 
        </div>
        <div class="card-body-2-right">
            <div class="card-body-2-right-box first">
                <span><h1>목표를 달성한 경우</h1><h2>인터뷰 질문 (1)</h2></span>
                <input placeholder="테스터에게 할 질문을 입력해주세요." name="[purpose][purpose<%=@b%>][exp<%=i%>][question1]">
            </div>

            <div class="card-body-2-right-box">
                <span><h1>목표를 달성한 경우</h1><h2>인터뷰 질문 (2)</h2></span>
                <input placeholder="테스터에게 할 질문을 입력해주세요." name="[purpose][purpose<%=@b%>][exp<%=i%>][question2]">
            </div>

            <div class="card-body-2-right-box">
                <span><h1>목표를 실패한 경우</h1><h2>인터뷰 질문 (1)</h2></span>
                <input placeholder="테스터에게 할 질문을 입력해주세요." name="[purpose][purpose<%=@b%>][exp<%=i%>][question3]">
            </div>

            <div class="card-body-2-right-box">
                <span><h1>목표를 실패한 경우</h1><h2>인터뷰 질문 (2)</h2></span>
                <input placeholder="테스터에게 할 질문을 입력해주세요." name="[purpose][purpose<%=@b%>][exp<%=i%>][question4]">
            </div>
        </div>
</section>
