
<%purpose_count = defined? @purpose_count %>
<%if purpose_count == nil%>
    <% then %>
    <%@purpose_generator=1%>
    <%@purpose_number = @purpose_generator%>
    <div class="accordion" id="accordionExample<%=@purpose_generator%>">
        <div class="card">
            <div class="card-header" id="heading<%=@purpose_generator%>">
                <section class="mb-0 d-flex align-items-center h-100">
                    <button class="card-button collapsed" type="button" data-toggle="collapse" data-target="#collapse<%=@purpose_generator%>"  aria-controls="collapse<%=@purpose_generator%>">
                    <div>
                    <h1>목표 (<%=@purpose_generator%>)</h1>
                    <h2>목표를 입력해주세요.</h2>
                    </div>
                    <%=image_tag("big-arrow-fold.svg", :class=>"purpose-arrow")%>
                    </button>
                </section>
            </div>
            <div id="collapse<%=@purpose_generator%>" class="collapse show" aria-labelledby="heading<%=@purpose_generator%>" data-parent="#accordionExample<%=@purpose_generator%>" aria-expanded="false">

                <div class="card-body">
                    <div class="w-100">
                        
                        <%= render "card1"%>
                        <%= render "card2"%>
                    </div>

                    <div class="card-submit">
                        <a><h1>+ 타겟 추가하기</h1></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%else%>
<%@purpose_generator=@purpose_count.to_i()%>
<%@purpose_generator +=1%>
<%@purpose_number = @purpose_generator%>
<%if @purpose_generator !=4%>
<div class="accordion" id="accordionExample<%=@purpose_generator%>">
    <div class="card">
        <div class="card-header" id="heading<%=@purpose_generator%>">
            <section class="mb-0 d-flex align-items-center h-100">
                <button class="card-button collapsed" type="button" data-toggle="collapse" data-target="#collapse<%=@purpose_generator%>"  aria-controls="collapse<%=@purpose_generator%>">
                <div>
                <h1>목표 (<%=@purpose_generator%>)</h1>
                <h2>목표를 입력해주세요.</h2>
                </div>
                <%=image_tag("big-arrow-fold.svg", :class=>"purpose-arrow")%>
                </button>
            </section>
        </div>
        <div id="collapse<%=@purpose_generator%>" class="collapse show" aria-labelledby="heading<%=@purpose_generator%>" data-parent="#accordionExample<%=@purpose_generator%>" aria-expanded="false">
       
            <div class="card-body">
                <div class="w-100">
                    <%= render "card1"%>
                    <%= render "card2"%>
                </div>

                <div class="card-submit">
                    <a><h1>+ 타겟 추가하기</h1></a>
                </div>
            </div>
        </div>
    </div>
</div>
<%else%>
<script>
   alertify.alert()
            .setting({
                'frameless':false,
                'title':"목표 추가 제한",
                'closableByDimmer':true,
                'closable': false,
                modal: false,
                transition:'pulse',
                'pinnable': false,
                message: '목표는 최대 3개만 추가할 수 있습니다.',
                'label':'Ok'
            }).show();
</script>
<%end%>
<%end%>