<div class="testing-top">
    <div class="testing-top-box first <%=if testing == 'first' then "active" end%>">
        <h1>기본 정보 등록</h1>
    </div>
    <%=image_tag("testing-top-arrow.svg")%>
    <div class="testing-top-box second <%=if testing == 'second' then "active" end%>">
        <h1>테스트 정보 입력</h1>
    </div>
    <%=image_tag("testing-top-arrow.svg")%>
    <div class="testing-top-box third <%=if testing == 'third' then "active" end%>">
        <h1>검토 및 제출</h1>
    </div>
</div>
