<%=render "testing-start"%>
<div class="testing w-100 d-flex flex-column align-items-center">
    <form  class="w-100 d-flex flex-column align-items-center" id="first-form" name="first_form" method="get">
        <%= render partial: "testing-top", locals: { testing: 'first' }%>
        <div class="testing-first-top">
            <div class="testing-first-top-left"> 
                <div class="testing-first-top-left-box">
                    <label>회사명*</label>
                    <input id="brandname" placeholder="카카오" name="[customer][brandname]" value="<%=if (defined? params[:customer][:brandname]) then  params[:customer][:brandname] end%>">
                </div>
                <div class="testing-first-top-left-box">
                    <label>담당자명*</label>
                    <input id="name" placeholder="김○○" name="[customer][name]" value="<%=if (defined? params[:customer][:name]) then  params[:customer][:name] end%>">
                </div>
                <div class="testing-first-top-left-box">
                    <label>담당자 연락처*</label>
                    <input onfocus="OnCheckPhone(this)" onKeyup="OnCheckPhone(this)" size=14 id="phone-number" placeholder="010-1234-5678" name="[customer][phonenumber]" value="<%=if (defined? params[:customer][:phonenumber]) then  params[:customer][:phonenumber] end%>">
                </div>
                <div class="testing-first-top-left-box">
                    <label>담당자 이메일*</label>
                    <input id="email" placeholder="kakao@kakao.com" name="[customer][email]" value="<%=if (defined? params[:customer][:email]) then  params[:customer][:email] end%>">
                </div>
            </div>
            <div class="testing-first-top-right">
                <div class="testing-first-top-right-box media">
                    <label class="first">테스트 매체*</label>
                    <div class="d-flex justify-content-start first-select">
                        <div class="d-flex align-items-center">
                            <div class="position-relative media">
                                <input name="[customer][media]" value="desktop" type="radio" <%=if (defined? params[:customer][:media]) then  if params[:customer][:media] =="desktop" then "checked" end else "checked" end%>/>
                                <span class="big"><span class="small"></span></span>
                            </div>
                            <h1>데스크탑</h1>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="position-relative media">
                                <input name="[customer][media]" value="mobile" type="radio" <%=if (defined? params[:customer][:media]) then  if params[:customer][:media] =="mobile" then "checked" end  end%>/>
                                <span class="big"><span class="small"></span></span>
                            </div>
                            <h1>모바일</h1>
                        </div>
                    </div>
                </div>
                <div class="testing-first-top-right-box testtype">
                    <label>테스트 종류*</label>
                    <div class="d-flex justify-content-start first-select">
                        <div class="d-flex align-items-center testing-first-top-right-box-content">
                            <div class="position-relative testtype">
                                <input name="[customer][testtype]" value="image-pro" type="radio" <%=if (defined? params[:customer][:testtype]) then  if params[:customer][:testtype] =="image-pro" then "checked" end else "checked" end%>/>
                                <span class="big"><span class="small"></span></span>
                            </div>
                            <h1>이미지 프로토타입</h1>
                        </div>
                        <div class="d-flex align-items-center testing-first-top-right-box-content ">
                            <div class="position-relative testtype">
                                <input name="[customer][testtype]" value="product" type="radio" <%=if (defined? params[:customer][:testtype]) then  if params[:customer][:testtype] =="product" then "checked" end else end%>/>
                                <span class="big"><span class="small"></span></span>
                            </div>
                            <h1>구동가능한 제품 또는 시제품</h1>
                        </div>
                    </div>
                </div>
                <div class="testing-first-top-right-box url">
                    <label>URL*</label>
                    <input class="url" id="url" name="[customer][url]" placeholder="http://melon.com"value="<%=if (defined? params[:customer][:url]) then  params[:customer][:url] end%>">
                </div>
            </div>
        </div>
        
        <%if (defined? params[:purpose]) && !(params[:purpose] == nil) then %>
            <%params[:purpose].each do |a,b|%>
                <%b.each do |c, d |%>
                    <%if c =="minute" || c == "second" || c == "goal" || c== "purpose-is"%>
                    <%then%>
                        <input name="[purpose][<%=a%>][<%=c%>]" value="<%=d%>" type="hidden">
                    <%else%>
                        <%d.each do |e,f|%>
                            <input name="[purpose][<%=a%>][<%=c%>][<%=e%>]" value="<%=f%>" type="hidden">
                        <%end%>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    </form>
    <div class="testing-first-bottom">
            <button>시작하기</button>
            
    </div>  
</div>
<div class="testing-mobile">
    <h1>죄송합니다.</h1>
    <h2>무료 테스트 등록은<br>
    PC에서만 가능합니다.<br>
    PC를 이용해 주세요.</h2>
</div>
<script>
if(navigator.userAgent.match(/Mobile|iP(hone|od)|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/)){
        console.log("Mobile"); 
       $(".testing").remove();
       $(".testing-mobile").css({"display":"block"});
    } else {
        console.log("PC");
    }
$(".navbar-nav a:nth-child(5)").addClass("color");
$(".testing-first-bottom button").click(function() {
         $.ajax({
            url: "/testing/firsttest",
            method: "get"
        })
}); 
$(".testing-top-box.second").click(function() {
    $("#first-form").attr({"action":"/testing/second"})
    document.getElementById("first-form").submit();
})
$(".testing-top-box.third").click(function() {
    $("#first-form").attr({"action":"/testing/third"})
    document.getElementById("first-form").submit();
})
function OnCheckPhone(oTa) { 
    var oForm = oTa.form ; 
    var sMsg = oTa.value ; 
    var onlynum = "" ; 
    var imsi=0; 
    onlynum = RemoveDash2(sMsg);  //하이픈 입력시 자동으로 삭제함 
    onlynum =  checkDigit(onlynum);  // 숫자만 입력받게 함 
    var retValue = ""; 

    if(event.keyCode != 12 ) { 
        if(onlynum.substring(0,2) == 02) {  // 서울전화번호일 경우  10자리까지만 나타나교 그 이상의 자리수는 자동삭제 
                if (GetMsgLen(onlynum) <= 1) oTa.value = onlynum ; 
                if (GetMsgLen(onlynum) == 2) oTa.value = onlynum + "-"; 
                if (GetMsgLen(onlynum) == 4) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,3) ; 
                if (GetMsgLen(onlynum) == 4) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,4) ; 
                if (GetMsgLen(onlynum) == 5) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,5) ; 
                if (GetMsgLen(onlynum) == 6) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,6) ; 
                if (GetMsgLen(onlynum) == 7) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,5) + "-" + onlynum.substring(5,7) ; ; 
                if (GetMsgLen(onlynum) == 8) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,6) + "-" + onlynum.substring(6,8) ; 
                if (GetMsgLen(onlynum) == 9) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,5) + "-" + onlynum.substring(5,9) ; 
                if (GetMsgLen(onlynum) == 10) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,6) + "-" + onlynum.substring(6,10) ; 
                if (GetMsgLen(onlynum) == 11) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,6) + "-" + onlynum.substring(6,10) ; 
                if (GetMsgLen(onlynum) == 12) oTa.value = onlynum.substring(0,2) + "-" + onlynum.substring(2,6) + "-" + onlynum.substring(6,10) ; 
        } 
        if(onlynum.substring(0,2) == 05 ) {  // 05로 시작되는 번호 체크 
            if(onlynum.substring(2,3) == 0 ) {  // 050으로 시작되는지 따지기 위한 조건문 
                    if (GetMsgLen(onlynum) <= 3) oTa.value = onlynum ; 
                    if (GetMsgLen(onlynum) == 4) oTa.value = onlynum + "-"; 
                    if (GetMsgLen(onlynum) == 5) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,5) ; 
                    if (GetMsgLen(onlynum) == 6) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,6) ; 
                    if (GetMsgLen(onlynum) == 7) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,7) ; 
                    if (GetMsgLen(onlynum) == 8) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) ; 
                    if (GetMsgLen(onlynum) == 9) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,7) + "-" + onlynum.substring(7,9) ; ; 
                    if (GetMsgLen(onlynum) == 10) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) + "-" + onlynum.substring(8,10) ; 
                    if (GetMsgLen(onlynum) == 11) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,7) + "-" + onlynum.substring(7,11) ; 
                    if (GetMsgLen(onlynum) == 12) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) + "-" + onlynum.substring(8,12) ; 
                    if (GetMsgLen(onlynum) == 13) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) + "-" + onlynum.substring(8,12) ; 
          } else { 
                if (GetMsgLen(onlynum) <= 2) oTa.value = onlynum ; 
                if (GetMsgLen(onlynum) == 3) oTa.value = onlynum + "-"; 
                if (GetMsgLen(onlynum) == 4) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,4) ; 
                if (GetMsgLen(onlynum) == 5) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,5) ; 
                if (GetMsgLen(onlynum) == 6) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,6) ; 
                if (GetMsgLen(onlynum) == 7) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) ; 
                if (GetMsgLen(onlynum) == 8) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,6) + "-" + onlynum.substring(6,8) ; ; 
                if (GetMsgLen(onlynum) == 9) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,9) ; 
                if (GetMsgLen(onlynum) == 10) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,6) + "-" + onlynum.substring(6,10) ; 
                if (GetMsgLen(onlynum) == 11) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,11) ; 
                if (GetMsgLen(onlynum) == 12) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,11) ; 
          } 
        } 

        if(onlynum.substring(0,2) == 03 || onlynum.substring(0,2) == 04  || onlynum.substring(0,2) == 06  || onlynum.substring(0,2) == 07  || onlynum.substring(0,2) == 08 ) {  // 서울전화번호가 아닌 번호일 경우(070,080포함 // 050번호가 문제군요) 
                if (GetMsgLen(onlynum) <= 2) oTa.value = onlynum ; 
                if (GetMsgLen(onlynum) == 3) oTa.value = onlynum + "-"; 
                if (GetMsgLen(onlynum) == 4) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,4) ; 
                if (GetMsgLen(onlynum) == 5) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,5) ; 
                if (GetMsgLen(onlynum) == 6) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,6) ; 
                if (GetMsgLen(onlynum) == 7) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) ; 
                if (GetMsgLen(onlynum) == 8) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,6) + "-" + onlynum.substring(6,8) ; ; 
                if (GetMsgLen(onlynum) == 9) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,9) ; 
                if (GetMsgLen(onlynum) == 10) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,6) + "-" + onlynum.substring(6,10) ; 
                if (GetMsgLen(onlynum) == 11) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,11) ; 
                if (GetMsgLen(onlynum) == 12) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,11) ; 

        } 
        if(onlynum.substring(0,2) == 01) {  //휴대폰일 경우 
            if (GetMsgLen(onlynum) <= 2) oTa.value = onlynum ; 
            if (GetMsgLen(onlynum) == 3) oTa.value = onlynum + "-"; 
            if (GetMsgLen(onlynum) == 4) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,4) ; 
            if (GetMsgLen(onlynum) == 5) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,5) ; 
            if (GetMsgLen(onlynum) == 6) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,6) ; 
            if (GetMsgLen(onlynum) == 7) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) ; 
            if (GetMsgLen(onlynum) == 8) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,8) ; 
            if (GetMsgLen(onlynum) == 9) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,9) ; 
            if (GetMsgLen(onlynum) == 10) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,6) + "-" + onlynum.substring(6,10) ; 
            if (GetMsgLen(onlynum) == 11) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,11) ; 
            if (GetMsgLen(onlynum) == 12) oTa.value = onlynum.substring(0,3) + "-" + onlynum.substring(3,7) + "-" + onlynum.substring(7,11) ; 
        } 

        if(onlynum.substring(0,1) == 1) {  // 1588, 1688등의 번호일 경우 
            if (GetMsgLen(onlynum) <= 3) oTa.value = onlynum ; 
            if (GetMsgLen(onlynum) == 4) oTa.value = onlynum + "-"; 
            if (GetMsgLen(onlynum) == 5) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,5) ; 
            if (GetMsgLen(onlynum) == 6) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,6) ; 
            if (GetMsgLen(onlynum) == 7) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,7) ; 
            if (GetMsgLen(onlynum) == 8) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) ; 
            if (GetMsgLen(onlynum) == 9) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) ; 
            if (GetMsgLen(onlynum) == 10) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) ; 
            if (GetMsgLen(onlynum) == 11) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) ; 
            if (GetMsgLen(onlynum) == 12) oTa.value = onlynum.substring(0,4) + "-" + onlynum.substring(4,8) ; 
        } 
    } 
} 

function RemoveDash2(sNo) { 
var reNo = "" 
for(var i=0; i<sNo.length; i++) { 
    if ( sNo.charAt(i) != "-" ) { 
    reNo += sNo.charAt(i) 
    } 
} 
return reNo 
} 

function GetMsgLen(sMsg) { // 0-127 1byte, 128~ 2byte 
var count = 0 
    for(var i=0; i<sMsg.length; i++) { 
        if ( sMsg.charCodeAt(i) > 127 ) { 
            count += 2 
        } 
        else { 
            count++ 
        } 
    } 
return count 
} 

function checkDigit(num) { 
    var Digit = "1234567890"; 
    var string = num; 
    var len = string.length 
    var retVal = ""; 

    for (i = 0; i < len; i++) 
    { 
        if (Digit.indexOf(string.substring(i, i+1)) >= 0) 
        { 
            retVal = retVal + string.substring(i, i+1); 
        } 
    } 
    return retVal; 
} 

</script>