<%=render "testing-start"%>
<div class="testing w-100 d-flex flex-column align-items-center">
    <form  class="w-100 d-flex flex-column align-items-center" id="first-form" name="first_form" method="get" data-remote="true">
        <%= render partial: "testing-top", locals: { testing: 'first' }%>
        <div class="testing-first-top">
            <div class="testing-first-top-left"> 
                <div class="testing-first-top-left-box">
                    <label>회사명*</label>
                    <input id="brandname" placeholder="카카오" name="[customer][brandname]" value="<%=if (defined? params[:customer][:brandname]) then  params[:customer][:brandname] end%>">
                </div>
                <div class="testing-first-top-left-box">
                    <label>담당자명*</label>
                    <input id="name" placeholder="김○○" name="[customer][name]" value="<%=if (defined? params[:customer][:name]) then  params[:customer][:name] end%>">
                </div>
                <div class="testing-first-top-left-box">
                    <label>담당자 연락처*</label>
                    <input onfocus="OnCheckPhone(this)" onKeyup="OnCheckPhone(this)" size=14 id="phone-number" placeholder="010-1234-5678" name="[customer][phonenumber]" value="<%=if (defined? params[:customer][:phonenumber]) then  params[:customer][:phonenumber] end%>">
                </div>
                <div class="testing-first-top-left-box">
                    <label>담당자 이메일*</label>
                    <input id="email" placeholder="kakao@kakao.com" name="[customer][email]" value="<%=if (defined? params[:customer][:email]) then  params[:customer][:email] end%>">
                </div>
            </div>
            <div class="testing-first-top-right">
                <div class="testing-first-top-right-box media">
                    <label class="first">테스트 매체*</label>
                    <div class="d-flex justify-content-start first-select">
                        <div class="d-flex align-items-center">
                            <div class="position-relative media">
                                <input name="[customer][media]" value="desktop" type="radio" <%=if (defined? params[:customer][:media]) then  if params[:customer][:media] =="desktop" then "checked" end else "checked" end%>/>
                                <span class="big"><span class="small"></span></span>
                            </div>
                            <h1>데스크탑</h1>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="position-relative media">
                                <input name="[customer][media]" value="mobile" type="radio" <%=if (defined? params[:customer][:media]) then  if params[:customer][:media] =="mobile" then "checked" end  end%>/>
                                <span class="big"><span class="small"></span></span>
                            </div>
                            <h1>모바일</h1>
                        </div>
                    </div>
                </div>
                <div class="testing-first-top-right-box testtype">
                    <label>테스트 종류*</label>
                    <div class="d-flex justify-content-start first-select">
                        <div class="d-flex align-items-center testing-first-top-right-box-content">
                            <div class="position-relative testtype">
                                <input name="[customer][testtype]" value="image-pro" type="radio" <%=if (defined? params[:customer][:testtype]) then  if params[:customer][:testtype] =="image-pro" then "checked" end else "checked" end%>/>
                                <span class="big"><span class="small"></span></span>
                            </div>
                            <h1>이미지 프로토타입</h1>
                        </div>
                        <div class="d-flex align-items-center testing-first-top-right-box-content ">
                            <div class="position-relative testtype">
                                <input name="[customer][testtype]" value="product" type="radio" <%=if (defined? params[:customer][:testtype]) then  if params[:customer][:testtype] =="product" then "checked" end else end%>/>
                                <span class="big"><span class="small"></span></span>
                            </div>
                            <h1>구동가능한 제품 또는 시제품</h1>
                        </div>
                    </div>
                </div>
                <div class="testing-first-top-right-box url">
                    <label>URL*</label>
                    <input class="url" id="url" name="[customer][url]" placeholder="http://melon.com"value="<%=if (defined? params[:customer][:url]) then  params[:customer][:url] end%>">
                </div>
            </div>
        </div>
        <%if (defined? params[:purpose]) && !(params[:purpose] == nil) then %>
            <%params[:purpose].each do |a,b|%>
                <%b.each do |c, d |%>
                    <%if c =="minute" || c == "second" || c == "goal" || c== "purpose-is"%>
                    <%then%>
                        <input class="<%=c%>" name="[purpose][<%=a%>][<%=c%>]" value="<%=d%>" type="hidden">
                    <%else%>
                        <%d.each do |e,f|%>
                            <input class="<%=e%>" name="[purpose][<%=a%>][<%=c%>][<%=e%>]" value="<%=f%>" type="hidden">
                        <%end%>
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
    </form>
    <div class="testing-first-bottom">
            <button>시작하기</button>
    </div>  
</div>
<div class="testing-mobile">
    <h1>죄송합니다.</h1>
    <h2>무료 테스트 등록은<br>
    PC에서만 가능합니다.<br>
    PC를 이용해 주세요.</h2>
</div>

<%=javascript_include_tag "testing_first"%>