<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" charset="utf-8"></script>
<script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
<!-- 첫번째 박스 -->
<div class="index-box" style="height: 1000px;">
  <%= image_tag("dummy1.jpg", class:"bg")%>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div style="margin-top: 200px;">
            <p class="h1 word">최고의 서비스는 완벽하게 디자인 되어야 한다.</p>
        </div>
        <div class="mt-3">
            <p class="h5 text-center word">고객이 단순히 사용하는 서비스가 아닌, 고객이 좋아하는 서비스를 만들 수 있도록 지원해드립니다.</p>
            <p class="h5 text-center word">타겟 고객에게 직접 서비스를 경험시키고, 생생한 피드백을 받아보세요.</p>
        </div>
        <div class="index-button" style="margin-top: 172px;">
            <p class="text-center" style="margin-top: 18px;"><%= link_to'무료 사용성 테스트 하기', root_path ,class:"text-white h4"%></p>
        </div>
    </div>
</div>
<!-- 두번째 박스 -->
<div class="d-flex flex-column justify-content-center align-items-center" style="height: 700px;">
    <div class="hideme"><p class="h2">크라우드 소싱을 이용한 UX,UI 검증 플랫폼</p></div>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg mr-5  hideme2 card1">
                <div class="card" style="width: 13rem; border: none;">
                    <%= image_tag('W_img_main_icon_1.svg', class:"card-img-top", style:"height: 180px; width: 100px; margin: 0 auto;")%>
                    <div class="card-body">
                        <p class="card-text h5 text-center">고객에게 기대하는<br> 일련의 행동(목표)와 타겟,<br>리워드를 등록하세요</p>
                    </div>
                </div>
            </div> 
            <div class="col-lg mr-5  hideme2 card2">  
                <div class="card" style="width: 13rem; border: none;">
                    <%= image_tag('W_img_main_icon_2.svg', class:"card-img-top", style:"height: 180px; width: 100px; margin: 0 auto;")%>
                    <div class="card-body">
                        <p class="card-text h5 text-center">테스터는 목표를 수행하며<br> 서비스를 경험합니다</p>
                    </div>
                </div>
            </div>
            <div class="col-lg hideme2 card2">  
                <div class="card" style="width: 13rem; border: none;">
                    <%= image_tag('W_img_main_icon_3.svg', class:"card-img-top", style:"height: 180px; width: 100px; margin: 0 auto;")%>
                    <div class="card-body">
                        <p class="card-text h5 text-center">모든 테스트 결과를<br> 리포팅해드립니다</p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="hideme"><p class="h6 mt-4">지금까지 더 테스터와 함께한 기업들 ></p></div>
</div>

<!-- 세번째 박스-->
<div class="d-flex flex-column justify-content-center align-items-center index-third-box" style="height: 500px;">
    <div class="d-flex flex-column justify-content-center align-items-center hideme">    
        <div><p class="h2 text-white">고객 관점에서 생각하기, 많이 어려우셨죠?</p></div>
        <div class="mt-4">
            <p class="h6 text-center text-white ">이제는 생략하지 마세요. 잠시 미뤄두었던, 잊고 있었던 고객 중심의 가치를 찾아드립니다.</p>
            <p class="h6 text-center text-white">UX,UI 컨설팅과 온라인 서비스의 기획, 디자인을 맡겨주세요.</p>
        </div>
        <div class="index-third-box-button" style="margin-top: 80px;">
            <p class="text-center" style="margin-top: 18px;"><%= link_to'컨설팅, 외주 의뢰하기', root_path ,class:"h4"%></p>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    /* 1 */
    $(window).scroll( function(){
        /* 2 */
        $('.hideme').each( function(i){
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            /* 3 */
            if( bottom_of_window > bottom_of_object ){
                $(this).animate({'opacity':'1', 'margin-bottom':'0px'},2000);
            }
        }); 
    });
});
$(document).ready(function() {
    /* 1 */
    $(window).scroll( function(){
        /* 2 */
        $('.container').each( function(i){
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            /* 3 */
            if( bottom_of_window > bottom_of_object ){
                $('.card1').animate({'opacity':'1', 'margin-bottom':'0px'},1400).queue(function() {
                    $('.card2').animate({'opacity':'1', 'margin-bottom':'0px'},1400).queue(function() {
                        $('.card3').animate({'opacity':'1', 'margin-bottom':'0px'},1400);
                    });
                });
            };
        }); 
    });
});
</script>