<%=render "top"%>
<div class="testing w-100 d-flex flex-column align-items-center">


<div class="testing-first-top">
    <div class="testing-first-top-box ">
    <h1>기본 정보 등록</h1>
    </div>
    <ion-icon name="play"></ion-icon>
    <div class="testing-first-top-box active">
    <h1>테스트 정보 입력</h1>
    </div>
    <ion-icon name="play"></ion-icon>
    <div class="testing-first-top-box">
    <h1>검토 및 제출</h1>
    </div>
</div>


<div class="testing-second-middle">
    <div class="testing-second-middle-top">
        <h1>* 목표 설정 : 최대 3개  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  * 타겟 설정 : 목표 당 3개 &nbsp;&nbsp;&nbsp;&nbsp;   * 테스터 수 : 목표 당 5명<Br>
        추가 테스트 진행을 원하시면 별도 문의 부탁드립니다. &nbsp;(약간의 추가금액이 발생합니다.)</h1>
        <button>
        <h2>도움이 필요하신가요?</h2>
        </button>
    </div>
    
    <%$a=0%>
    <%$c=Hash.new %>
    <form action="/testing/third" id="second-form" name="second-form" class="second-form">
    <input type="hidden" value="<%=params[:brandname]%>" name="[customer][brandname]">
    <input type="hidden" value="<%=params[:name]%>" name="[customer][name]">
    <input type="hidden" value="<%=params[:phonenumber]%>" name="[customer][phonenumber]">
    <input type="hidden" value="<%=params[:email]%>" name="[customer][email]">
    <input type="hidden" value="<%=params[:url]%>" name="[customer][url]">
    <%= render "second-box"%>
    </form>
</div>

<div class="testing-second-bottom">
   <div class="testing-second-bottom-top">
        <button>
            <%= link_to "목표를 추가하고 싶으신가요?", testing_second1_path, :remote => true %>
        </button>
        <div class="testing-second-bottom-top-right d-flex flex-column  ">
        <%$b=1%>
        <%while $b<=$a%>
            <div class="d-flex justify-content-between align-items-center w-100">
                <h1>목표 <%=$b%>. 리워드 </h1>
                <h2>1,500p</h2>
            </div>
            <%$b+=1%>
            <%end%>
        </div>
       
    </div>
    <div class="testing-second-bottom-middle">
        <div class="testing-second-bottom-top-right d-flex flex-column ">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h1>테스트 비용 합계</h1>
                <h2>1,500p</h2>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">
                <h1>프로모션 할인 </h1>
                <h2>1,500p</h2>
            </div>
        </div>
    </div>
    <div class="testing-second-bottom-bottom">
        <div class="w-100 d-flex flex-column w-100 align-items-end">
            <div class="testing-first-bottom-top-right d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h1>결제 금액</h1>
                    <h2>1,500p</h2>
                </div>
            </div>
        </div>
        <input id="complete" value="완료하기" type="button"/>
    </div>
</div>
</div>
<script>
    $(document).on('click', '.card-submit a', function(){   
        var a = $(this).parent().parent().parent().attr("id");
        var b = a.replace(/[^0-9]/g,"");
        $.ajax ({
            url: "/testing/second2",
            method: "get",
            data: {"b" : b}
        });
    });
    $("#complete").click(function() {
        $(".second-form").submit();
    });
    $(document).on("click",".card-header", function() {
        $(this).children("section").children("button").children(".purpose-arrow").toggleClass("arrow-rotate")
    })
</script>

<script>
if(navigator.userAgent.match(/Mobile|iP(hone|od)|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/)){
    console.log("Mobile"); 
    $(".testing").remove();
} else {
    console.log("PC");
}
</script>
