<%=render "testing-start"%>
<div class="testing w-100 d-flex flex-column align-items-center">
    <%= render partial: "testing-top", locals: { testing: 'second' }%>
    <div class="testing-second-top">
        <div class="testing-second-top-top">
            <h1>* 목표 설정 : 최대 3개  &nbsp;&nbsp;  * 타겟 설정 : 목표 당 최대 3개 &nbsp;&nbsp;   * 테스터 수 : 타겟 당 최대 5명<Br>
            추가 테스트 진행을 원하시면 별도 문의 부탁드립니다. &nbsp;(약간의 추가금액이 발생합니다.)</h1>
            <button>
            <h2>도움이 필요하신가요?</h2>
            </button>
        </div> 
        <form  id="second-form" name="second-form" class="second-form">
            <input type="hidden" value="<%=params[:customer][:brandname]%>" name="[customer][brandname]">
            <input type="hidden" value="<%=params[:customer][:name]%>" name="[customer][name]">
            <input type="hidden" value="<%=params[:customer][:phonenumber]%>" name="[customer][phonenumber]">
            <input type="hidden" value="<%=params[:customer][:email]%>" name="[customer][email]">
            <input type="hidden" value="<%=params[:customer][:media]%>" name="[customer][media]">
            <input type="hidden" value="<%=params[:customer][:testtype]%>" name="[customer][testtype]">
            <input type="hidden" value="<%=params[:customer][:url]%>" name="[customer][url]">
            <%= render "second-box"%>
        </form>
    </div>
    <div class="testing-second-bottom">
        <div class="testing-second-bottom-top">
            <h3>목표는 3개까지 등록 가능합니다. 추가하고 싶으시다면 <a class="purpose-add">여기</a>를 눌러주세요.</h3>
            <div class="testing-second-bottom-top-right first">
                <div class=" d-flex justify-content-between align-items-center w-100">
                    <h1>목표 1. 리워드 </h1>
                    <h2 class="reward-1">0P</h2>
                </div>
                <div class=" d-flex justify-content-between align-items-center w-100">
                    <h1>목표 2. 리워드 </h1>
                    <h2 class="reward-2">0P</h2>
                </div>
                <div class=" d-flex justify-content-between align-items-center w-100">
                    <h1>목표 3. 리워드 </h1>
                    <h2 class="reward-3">0P</h2>
                </div>
            </div>
        </div>
        <div class="testing-second-bottom-middle">
            <div class="testing-second-bottom-top-right">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h1>테스트 비용 합계</h1>
                    <h2 class="reward-sum">0P</h2>
                </div>
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h1>프로모션 할인 </h1>
                    <h2 class="reward-discount">-0P</h2>
                </div>
            </div>
        </div>
        <div class="testing-second-bottom-bottom">
            <div class="w-100 d-flex flex-column align-items-end">
                <div class="testing-second-bottom-top-right">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <h1>결제 금액</h1>
                        <h2 class="reward-pay">0P</h2>
                    </div>
                </div>
            </div>
            <button id="complete">완료하기</button>
        </div>
    </div>
</div>
<div class="testing-third-loading second">
    <%=image_tag("preloader.svg")%>
</div>
<div class="testing-help-purpose purpose">
    <div class="testing-help-purpose-box">
        <h1>추가 진행이 필요하신가요?</h1>
        <h2>아래 연락처로 별도 문의 주시면,<br>
        추가 테스트 진행을 도와드릴게요!</h2>
        <h3>추가비용이 발생할 수 있습니다.</h3>
        <div class="d-flex justify-content-center">
            <%=image_tag("popup-manager2.svg")%>
            <%=image_tag("popup-manager.svg")%>
        </div>
        <button>닫기</button>
    </div>
</div>
<div class="testing-help-purpose help">
    <div class="testing-help-purpose-box help">
        <p>도움이 필요하신가요?</p>
        <div class="testing-help-purpose-box-tab">
            <div class="focus"> 
                <h3>이용방법 문의</h3>
            </div>
            <div> 
                <h3>추가 테스트 문의</h3>
            </div>
        </div>
        <div class="testing-help-purpose-box-left w-100 flex-column align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <%=image_tag("W_img_popup_goal_1.svg")%>
                <h1>‘목표’에 서비스를 이용하는 고객에게<br>
                기대하는 일련의 행동을 입력해주세요.<br>
                테스터가 목표를 보고 여러분의 서비스를<br>
                경험하기 때문에, 명확하게 작성해주셔야 해요!!</h1>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <h1>앞서 입력한 ‘목표’를 누구에게 테스트할지<br>
                정해주세요! 서비스를 이용하는 타겟 고객을<Br>
                입력하시면 됩니다.</h1>
                <%=image_tag("W_img_popup_target_1.svg")%>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <%=image_tag("W_img_popup_tester_1.svg")%>
                <h1>서비스를 경험하고 목표를 달성한 (혹은 실패한)<br>
                타겟에게 궁금한 사항이 있으신가요?<Br>
                더 테스터가 대신 질문해드립니다!!!</h1>
            </div>
            <h2>제출한 테스트 결과는 접수일로부터 5~6일 정도 소요됩니다.<br>
            그 외 문의사항은 더 테스터로 연락바랍니다.</h2>
        </div>
        <div class="testing-help-purpose-box-right w-100  flex-column align-items-center" style="display:none;">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column">
                    <%=image_tag("W_img_popup_freetest.svg")%>
                    <h5>무료 테스트<br>1개</h5>
                </div>
                <div class="d-flex flex-column">
                    <%=image_tag("W_img_popup_goal_2.svg")%>
                    <h5>목표 설정<br>최대 3개</h5>
                </div>
                <div class="d-flex flex-column">
                    <%=image_tag("W_img_popup_target_2.svg")%>
                    <h5>타겟 설정<br>목표당 3개</h5>
                </div>
                <div class="d-flex flex-column">
                    <%=image_tag("W_img_popup_tester_2.svg")%>
                    <h5>테스터 수<br>목표당 5명</h5>
                </div>
            </div>
            <h2>한 기업 당, 한번의 무료 테스트를 진행해드립니다.<Br>
            다음과 같은 추가 진행 사항은 별도 문의 부탁드려요.</h2>
            <h4>1. 무료 테스트 외 추가 테스트 진행을 원할 경우</h4>
            <h4>2. 무료 테스트 내 기본 제공 횟수보다 이상을 원할 경우</h4>
            <div class=" d-flex justify-content-around">
                <%=image_tag("popup-manager2.svg")%>
                <%=image_tag("popup-manager.svg")%>
            </div>
        </div>
        <button>닫기</button>
    </div>
</div>

<%=javascript_include_tag "testing_second"%>

<script>
var MultiString = function(f) {
  return f.toString().split('\n').slice(1, -1).join('\n');
}

var ms = MultiString(function() {/**
ddd<%=render 'card2'%>
**/});
console.log(ms)
</script>
