<%=render "testing-start"%>
<div class="testing w-100 d-flex flex-column align-items-center">
    <%= render partial: "testing-top", locals: { testing: 'second' }%>
    <div class="testing-second-top">
        <div class="testing-second-top-top">
            <h1>* 목표 설정 : 최대 3개  &nbsp;&nbsp;  * 타겟 설정 : 목표 당 최대 3개 &nbsp;&nbsp;   * 테스터 수 : 타겟 당 최대 5명<Br>
            추가 테스트 진행을 원하시면 별도 문의 부탁드립니다. &nbsp;(약간의 추가금액이 발생합니다.)</h1>
            <button>
            <h2>도움이 필요하신가요?</h2>
            </button>
        </div> 
        <form  id="second-form" name="second-form" class="second-form">
            <input type="hidden" value="<%=params[:customer][:brandname]%>" name="[customer][brandname]">
            <input type="hidden" value="<%=params[:customer][:name]%>" name="[customer][name]">
            <input type="hidden" value="<%=params[:customer][:phonenumber]%>" name="[customer][phonenumber]">
            <input type="hidden" value="<%=params[:customer][:email]%>" name="[customer][email]">
            <input type="hidden" value="<%=params[:customer][:media]%>" name="[customer][media]">
            <input type="hidden" value="<%=params[:customer][:testtype]%>" name="[customer][testtype]">
            <input type="hidden" value="<%=params[:customer][:url]%>" name="[customer][url]">
            <%= render "second-box"%>
        
        </form>
    </div>
<div class="testing-second-bottom">
   <div class="testing-second-bottom-top">
            <h3>목표는 3개까지 등록 가능합니다. 추가하고 싶으시다면 <a class="purpose-add">여기</a>를 눌러주세요.</h3>
        
        <div class="testing-second-bottom-top-right first">
            <div class=" d-flex justify-content-between align-items-center w-100">
                <h1>목표 1. 리워드 </h1>
                <h2 class="reward-1">0P</h2>
            </div>
            <div class=" d-flex justify-content-between align-items-center w-100">
                <h1>목표 2. 리워드 </h1>
                <h2 class="reward-2">0P</h2>
            </div>
            <div class=" d-flex justify-content-between align-items-center w-100">
                <h1>목표 3. 리워드 </h1>
                <h2 class="reward-3">0P</h2>
            </div>
        </div>
    </div>
    <div class="testing-second-bottom-middle">
        <div class="testing-second-bottom-top-right">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h1>테스트 비용 합계</h1>
                <h2 class="reward-sum">0P</h2>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100">
                <h1>프로모션 할인 </h1>
                <h2 class="reward-discount">-0P</h2>
            </div>
        </div>
    </div>
    <div class="testing-second-bottom-bottom">
        <div class="w-100 d-flex flex-column align-items-end">
            <div class="testing-second-bottom-top-right">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h1>결제 금액</h1>
                    <h2 class="reward-pay">0P</h2>
                </div>
            </div>
        </div>
        <button id="complete">완료하기</button>
    </div>
</div>
</div>

<!-- Modal -->
<div id="target-alert" class="ui modal">
  <div class="header">타겟 추가 제한</div>
  <div class="content">
    <p>한 목표당 3개의 타겟만 설정할 수 있습니다.</p>
  </div>
</div>
<div id="purpose-alert" class="ui modal">
  <div class="header">목표 추가 제한</div>
  <div class="content">
    <p>3개의 목표만 설정할 수 있습니다.</p>
  </div>
</div>

<div class="testing-third-loading second">
    <%=image_tag("preloader.svg")%>
</div>

<div class="testing-help-purpose purpose">
    <div class="testing-help-purpose-box">
        <h1>추가 진행이 필요하신가요?</h1>
        <h2>아래 연락처로 별도 문의 주시면,<br>
        추가 테스트 진행을 도와드릴게요!</h1>
        <h3>추가비용이 발생할 수 있습니다.</h3>
        <div class="d-flex justify-content-center">
        <%=image_tag("popup-manager2.svg")%>
        <%=image_tag("popup-manager.svg")%>
        </div>
        <button>닫기</button>
    </div>
</div>
<div class="testing-help-purpose help">
    <div class="testing-help-purpose-box help">
        <p>도움이 필요하신가요?</p>
        <div class="testing-help-purpose-box-tab">
            <div class="focus"> 
                <h3>이용방법 문의</h3>
            </div>
            <div> 
                <h3>추가 테스트 문의</h3>
            </div>
        </div>
        <div class="testing-help-purpose-box-left w-100 flex-column align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <%=image_tag("W_img_popup_goal_1.svg")%>
                <h1>‘목표’에 서비스를 이용하는 고객에게<br>
                기대하는 일련의 행동을 입력해주세요.<br>
                테스터가 목표를 보고 여러분의 서비스를<br>
                경험하기 때문에, 명확하게 작성해주셔야 해요!!</h1>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <h1>앞서 입력한 ‘목표’를 누구에게 테스트할지<br>
                정해주세요! 서비스를 이용하는 타겟 고객을<Br>
                입력하시면 됩니다.</h1>
                <%=image_tag("W_img_popup_target_1.svg")%>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <%=image_tag("W_img_popup_tester_1.svg")%>
                <h1>서비스를 경험하고 목표를 달성한 (혹은 실패한)<br>
                타겟에게 궁금한 사항이 있으신가요?<Br>
                더 테스터가 대신 질문해드립니다!!!</h1>
            </div>
            <h2>제출한 테스트 결과는 접수일로부터 5~6일 정도 소요됩니다.<br>
            그 외 문의사항은 더 테스터로 연락바랍니다.</h2>
        </div>
        <div class="testing-help-purpose-box-right w-100  flex-column align-items-center" style="display:none!important">
             <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex flex-column">
                    <%=image_tag("W_img_popup_freetest.svg")%>
                    <h5>무료 테스트<br>1개</h5>
                </div>
                <div class="d-flex flex-column">
                    <%=image_tag("W_img_popup_goal_2.svg")%>
                    <h5>목표 설정<br>최대 3개</h5>
                </div>
                <div class="d-flex flex-column">
                    <%=image_tag("W_img_popup_target_2.svg")%>
                    <h5>타겟 설정<br>목표당 3개</h5>
                </div>
                <div class="d-flex flex-column">
                    <%=image_tag("W_img_popup_tester_2.svg")%>
                    <h5>테스터 수<br>목표당 5명</h5>
                </div>
            </div>
            <h2>한 기업 당, 한번의 무료 테스트를 진행해드립니다.<Br>
            다음과 같은 추가 진행 사항은 별도 문의 부탁드려요.</h2>
            <h4>1. 무료 테스트 외 추가 테스트 진행을 원할 경우</h4>
            <h4>2. 무료 테스트 내 기본 제공 횟수보다 이상을 원할 경우</h4>
            <div class=" d-flex justify-content-around">
                <%=image_tag("popup-manager2.svg")%>
                <%=image_tag("popup-manager.svg")%>
            </div>
        </div>
        <button>닫기</button>
    </div>
</div>

<script>
    $(".testing-help-purpose-box-tab div:first-child").click(function() {
        $(this).addClass("focus")
        $(".testing-help-purpose-box-tab div:last-child").removeClass("focus")
        $(".testing-help-purpose-box-left").css({"display":"flex"})
        $(".testing-help-purpose-box-right").css({"display":"none"})
    })
    $(".testing-help-purpose-box-tab div:last-child").click(function() {
        $(this).addClass("focus")
        $(".testing-help-purpose-box-tab div:first-child").removeClass("focus")
        $(".testing-help-purpose-box-left").css({"display":"none"})
        $(".testing-help-purpose-box-right").css({"display":"flex"})
    })
    if(navigator.userAgent.match(/Mobile|iP(hone|od)|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/)){
       $(".testing").remove();
       $(".testing-mobile").css({"display":"block"});
    } else {
    }
    $(".navbar-nav a:nth-child(5)").addClass("color");
    $("#purpose-is").focus();
    $("html, body").scrollTop($(".testing-top").offset().top)
    $("#accordionExample1 input").attr("disabled", false);
    $("#accordionExample1 .ui.dropdown").removeClass("disabled");
    $(document).on('click', '.card-delete', function(){   
        $(this).parent().parent().find(".card-body-2").each(function(v) {
            if (v == 2) {
                var a = $(this).parent().parent().parent().attr("id");
                var purpose_number = a.replace(/[^0-9]/g,"");
                $(this).find(".card-body-2-target h1").text(`타겟 2`)
                $(this).find(".target").attr({"name":`[purpose][purpose${purpose_number}][exp2][target]`})
                $(this).find(".detail").attr({"name":`[purpose][purpose${purpose_number}][exp2][detail]`})
                $(this).find(".testernumber select").attr({"name":`[purpose][purpose${purpose_number}][exp2][testernumber]`})
                $(this).find(".sex").attr({"name":`[purpose][purpose${purpose_number}][exp2][sex]`})
                $(this).find(".age select").attr({"name":`[purpose][purpose${purpose_number}][exp2][age]`})
                $(this).find(".age2 select").attr({"name":`[purpose][purpose${purpose_number}][exp2][age2]`})
                $(this).find(".question1").attr({"name":`[purpose][purpose${purpose_number}][exp2][question1]`})
                $(this).find(".question2").attr({"name":`[purpose][purpose${purpose_number}][exp2][question2]`})
                $(this).find(".question3").attr({"name":`[purpose][purpose${purpose_number}][exp2][question3]`})
                $(this).find(".question4").attr({"name":`[purpose][purpose${purpose_number}][exp2][question4]`})
            }
        });
        $(this).parent().remove();
    });
    $(document).on('click', '.purpose-add', function(){   
        var purpose_count = document.getElementsByClassName("accordion").length;
        if (purpose_count != 3 ) {
            $(".testing-third-loading").css({"display":"flex"});
            $.ajax ({
                url: "/testing/second1",
                method: "get",
                data: {"purpose_count" : purpose_count}
            });
        }
        else {
            $(".testing-help-purpose.purpose").css({"display":"block"});
        }
    });
    $(document).on('click', '.testing-second-top-top button', function(){  
        $(".testing-help-purpose.help").css({"display":"block"});
    });
    $(document).on('click', '.testing-help-purpose-box button', function(){  
        $(".testing-help-purpose").css({"display":"none"});
    })
    $(document).on('click', '.card-button', function(){  
        $(".card-button").not(this).parent().parent().parent().find(".collapse").removeClass("show")
        $(".card-button").not(this).attr({"aria-expanded":"false"})
    })
    $(document).on('focus', '.purpose-is', function(){  
        $(".purpose-is").not(this).parent().parent().parent().parent().find(".collapse").removeClass("show")
        $(".purpose-is").not(this).parent().parent().find(".card-button").attr({"aria-expanded":"false"})
        $(this).parent().parent().parent().parent().find(".collapse").addClass("show")
        $(this).parent().parent().find(".card-button").attr({"aria-expanded":"true"})
            $('html, body').animate({scrollTop : $(this).parent().parent().parent().parent().offset().top}, 000);
    });
    $(document).on('click', '.card-submit a', function(){   
        var a = $(this).parent().parent().parent().attr("id");
        var purpose_number = a.replace(/[^0-9]/g,"");
        var target_count = $(`#accordionExample${purpose_number} .card-body-2`).length;
        var purpose_count = document.getElementsByClassName("accordion").length;
        if (target_count != 3 ) {
            $(".testing-third-loading").css({"display":"flex"});
            $.ajax ({
                url: "/testing/second2",
                method: "get",
                data: {"target_count" : target_count, "purpose_number" : purpose_number, "purpose_count": purpose_count}
            });
        }
        else {
            alertify.alert()
            .setting({
                'frameless':false,
                'title':"타겟 추가 제한",
                'closableByDimmer':true,
                'closable': false,
                modal: false,
                transition:'pulse',
                'pinnable': false,
                message: '타겟은 한 목표당 최대 3개만 추가할 수 있습니다.',
                'label':'Ok'
            }).show();
        }
    });
 
    setInterval(function () {
        $.ajax({
            url: "/testing/second3",
            method: "get",
            data: {"purpose_count":$(".accordion").length}
        })

    }, 1000);

    function purpose_2_test(a) {
        var element = $("#accordionExample1");
        var testernumber=0;
        var no_error = true;
        if (
        element.find(".purpose-is").val() =='' || Number(element.find(".minute option:selected").val()) + Number(element.find(".second option:selected").val()) == 0
        ) {
            alertify.alert()
            .setting({
                'frameless':false,
                'title':"작성 오류",   
                'closableByDimmer':true,
                'closable': false,
                modal: false,
                transition:'pulse',
                'pinnable': false,
                message: '이전 목표 필수 입력 사항을 모두 입력하세요.',
                'label':'Ok'
            }).show();
            a.preventDefault();
            no_error = false;
        }
        else {
            $("#accordionExample1 .card-body-2").each(function (i,e) {
                testernumber += Number($(this).find(".testernumber option:selected").val());
                if  ($(this).find(".target").val() == '') {
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"작성 오류",
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: '이전 목표 필수 입력 사항을 모두 입력하세요.',
                        'label':'Ok'
                    }).show();
                    a.preventDefault();
                    no_error = false;
                    return false;
                }
                else if  ($(this).find(".testernumber option:selected").val() == 0 ) {
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"작성 오류",
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: `이전 목표 필수 입력 사항을 모두 입력하세요.`,
                        'label':'Ok'
                    }).show(); 
                    no_error = false;
                    return false;
                } 
            });
            if (no_error) {
                return true;
            }
        }
    }
    $(document).on("click","#accordionExample2 .ui.dropdown, #accordionExample2 input", function(a) {
       purpose_2_test(a);
    })
    $(document).on("keydown","#accordionExample2 input", function(a) {
        purpose_2_test(a);
       
    })
  
    function purpose_3_test(a) {
        var element = $("#accordionExample2");
        var testernumber=0;
        var no_error = true;
        if (
        element.find(".purpose-is").val() =='' || Number(element.find(".minute option:selected").val()) + Number(element.find(".second option:selected").val()) == 0
        ) {
            alertify.alert()
            .setting({
                'frameless':false,
                'title':"작성 오류",   
                'closableByDimmer':true,
                'closable': false,
                modal: false,
                transition:'pulse',
                'pinnable': false,
                message: '이전 목표 필수 입력 사항을 모두 입력하세요.',
                'label':'Ok'
            }).show();
            a.preventDefault();
            no_error = false;
        }
        else {
            $("#accordionExample2 .card-body-2").each(function (i,e) {
                testernumber += Number($(this).find(".testernumber option:selected").val());
                if  ($(this).find(".target").val() == '') {
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"작성 오류",
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: '이전 목표 필수 입력 사항을 모두 입력하세요.',
                        'label':'Ok'
                    }).show();
                    a.preventDefault();
                    no_error = false;
                    return false;
                }
                else if  ($(this).find(".testernumber option:selected").val() == 0 ) {
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"작성 오류",
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: `이전 목표 필수 입력 사항을 모두 입력하세요.`,
                        'label':'Ok'
                    }).show(); 
                    no_error = false;
                    return false;
                } 
            });
            if (no_error) {
                return true;
            }
        }
    }
     $(document).on("click","#accordionExample3 .ui.dropdown, #accordionExample3 input", function(a) {
       if (purpose_2_test(a)) {
            purpose_3_test(a)
       }
    })
    $(document).on("keydown","#accordionExample3 input", function(a) {
       if (purpose_2_test(a)) {
            purpose_3_test(a)
       }
    })
    $(".testing-top-box.first").click(function() {
            $("#second-form").attr({"action":"/testing/first"})
            document.getElementById("second-form").submit();
    })
    $(".testing-top-box.third").click(function() {
            function purpose_test(a) {
            var element = $(`#accordionExample${a}`);
            var testernumber=0;
            var no_error = true;
            function input_check() {
                if (a != 1) {
                    var input_check = false;
                    element.find("input").not('input[type="radio"]').each(function(c) { if ($(this).val() !=''){console.log($(this).val()); input_check = true; return false}})
                    if (input_check == true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
                else {
                    return true;
                }
            }
            if (input_check())
            {
                if (element.find(".purpose-is").val() =='')
                {
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"목표 작성 오류",   
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: `[목표 ${a}]의 목표는 필수 작성 사항입니다.`,
                        'label':'Ok'
                    }).show();
                    no_error = false;
                }
                else if ( Number(element.find(".minute option:selected").val())*60 + Number(element.find(".second option:selected").val()) == 0) {
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"예상 시간 선택 오류",   
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: `[목표 ${a}]의 예상 시간은 필수 선택 사항입니다.`,
                        'label':'Ok'
                    }).show();
                    no_error = false;
                }
                else {
                    $(`#accordionExample${a} .card-body-2`).each(function(b) {
                        testernumber += Number($(this).find(".testernumber option:selected").val());
                        if  ($(this).find(".target").val() == '') {
                            alertify.alert()
                            .setting({
                                'frameless':false,
                                'title':"타겟명 작성 오류",   
                                'closableByDimmer':true,
                                'closable': false,
                                modal: false,
                                transition:'pulse',
                                'pinnable': false,
                                message:`[목표 ${a}] [타겟 ${b+1}]의 타겟명은 필수 작성 사항입니다 .`,
                                'label':'Ok'
                            }).show();
                            no_error = false;
                            return false;
                        }
                        else if  ($(this).find(".testernumber option:selected").val() == 0 ) {
                            alertify.alert()
                            .setting({
                                'frameless':false,
                                'title':"작성 오류",
                                'closableByDimmer':true,
                                'closable': false,
                                modal: false,
                                transition:'pulse',
                                'pinnable': false,
                                message: `[목표 ${a}] [타겟 ${b+1}]의 테스터수는 1명 이상이어야 합니다.`,
                                'label':'Ok'
                            }).show(); 
                            no_error = false;
                            return false;
                        } 
                        else if (testernumber > 5 ) {
                            alertify.alert()
                            .setting({
                            'frameless':false,
                            'title':"테스터수 선택 오류",
                            'closableByDimmer':true,
                            'closable': false,
                            modal: false,
                            transition:'pulse',
                            'pinnable': false,
                            message: `[목표 ${a}]의 총 테스터수가 5명을 초과했습니다.`,
                            'label':'Ok'
                            }).show();
                            no_error = false;
                            return false;
                        }  
                    });
                    if (no_error) {
                        return true;
                    }
                }
            }
            else {
                return true;
            }    
        }
            
        if (purpose_test(1)) {
            if (purpose_test(2)) {
                if (purpose_test(3)) {
                    $("#second-form").attr({"action":"/testing/third"})
                    document.getElementById("second-form").submit();
                }
            }
        }
    })
    
    $(document).on("click",".testernumber.ui.dropdown .item", function() {
        var testernumber = 0;
        $(this).parent().parent().parent().parent().parent().parent().parent().find(".card-body-2").each(function(a) {
            testernumber += Number($(this).find(".testernumber option:selected").val());
          if (testernumber > 5 ) {
                alertify.alert()
                .setting({
                'frameless':false,
                'title':"테스터수 선택 오류",
                'closableByDimmer':true,
                'closable': false,
                modal: false,
                transition:'pulse',
                'pinnable': false,
                message: `한 목표당 최대 5명의 테스터수를 선택할 수 있습니다.`,
                'label':'Ok'
                }).show();
                no_error = false;
                return false;
            }  
        });
    })
    
    $("#complete").click(function() {
        
        function purpose_test(a) {
            var element = $(`#accordionExample${a}`);
            var testernumber=0;
            var no_error = true;
            function input_check() {
                if (a != 1) {
                    var input_check = false;
                    element.find("input").not('input[type="radio"]').each(function(c) { if ($(this).val() !=''){console.log($(this).val()); input_check = true; return false}})
                    if (input_check == true) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
                else {
                    return true;
                }
            }
            if (input_check())
            {
                if (element.find(".purpose-is").val() =='')
                {
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"목표 작성 오류",   
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: `[목표 ${a}]의 목표는 필수 작성 사항입니다.`,
                        'label':'Ok'
                    }).show();
                    no_error = false;
                }
                else if ( Number(element.find(".minute option:selected").val())*60 + Number(element.find(".second option:selected").val()) == 0) {
                    alertify.alert()
                    .setting({
                        'frameless':false,
                        'title':"예상 시간 선택 오류",   
                        'closableByDimmer':true,
                        'closable': false,
                        modal: false,
                        transition:'pulse',
                        'pinnable': false,
                        message: `[목표 ${a}]의 예상 시간은 필수 선택 사항입니다.`,
                        'label':'Ok'
                    }).show();
                    no_error = false;
                }
                else {
                    $(`#accordionExample${a} .card-body-2`).each(function(b) {
                        testernumber += Number($(this).find(".testernumber option:selected").val());
                        if  ($(this).find(".target").val() == '') {
                            alertify.alert()
                            .setting({
                                'frameless':false,
                                'title':"타겟명 작성 오류",   
                                'closableByDimmer':true,
                                'closable': false,
                                modal: false,
                                transition:'pulse',
                                'pinnable': false,
                                message:`[목표 ${a}] [타겟 ${b+1}]의 타겟명은 필수 작성 사항입니다 .`,
                                'label':'Ok'
                            }).show();
                            no_error = false;
                            return false;
                        }
                        else if  ($(this).find(".testernumber option:selected").val() == 0 ) {
                            alertify.alert()
                            .setting({
                                'frameless':false,
                                'title':"작성 오류",
                                'closableByDimmer':true,
                                'closable': false,
                                modal: false,
                                transition:'pulse',
                                'pinnable': false,
                                message: `[목표 ${a}] [타겟 ${b+1}]의 테스터수는 1명 이상이어야 합니다.`,
                                'label':'Ok'
                            }).show(); 
                            no_error = false;
                            return false;
                        } 
                        else if (testernumber > 5 ) {
                            alertify.alert()
                            .setting({
                            'frameless':false,
                            'title':"테스터수 선택 오류",
                            'closableByDimmer':true,
                            'closable': false,
                            modal: false,
                            transition:'pulse',
                            'pinnable': false,
                            message: `[목표 ${a}]의 총 테스터수가 5명을 초과했습니다.`,
                            'label':'Ok'
                            }).show();
                            no_error = false;
                            return false;
                        }  
                    });
                    if (no_error) {
                        return true;
                    }
                }
            }
            else {
                return true;
            }    
        }

        if (purpose_test(1)) {
            if (purpose_test(2)) {
                if (purpose_test(3)) {
                    $("#second-form").attr({"action":"/testing/third"})
                    document.getElementById("second-form").submit();
                }
            }
        }
    });  

        
</script>


