
<%=render "testing-start"%>
<div class="testing w-100 d-flex flex-column align-items-center">
    <%= render partial: "testing-top", locals: { testing: 'third' }%>
    <%@total_testernumber =0%>
    <%@total_reward = 0%>
    <%@total_purpose = 0%>
    <%params[:purpose].each do |a,b|%>
        <%@testernumber=0%>
        <%if b['purpose-is'] != ''%>
            <%@total_purpose+=1%>
        <%end%>
        <%b.each do |c,d|%>
            <%if c != "goal" then%>
                <%@testernumber+=d['testernumber'].to_i()%>
            <%end%>
        <%end%>
        <%@total_testernumber += @testernumber%>
        <%@total_reward += (@testernumber.to_i()*(b['minute'].to_i()*60+b['second'].to_i())*1/2)%>
    <%end%>
    <div class="testing-third-top">
        <div class="testing-third-top-top">
            <div class="d-flex flex-column align-items-center">
                <h1>총 목표수</h1>
                <h2><%=@total_purpose%></h2>
            </div>
            <span></span>
            <div class="d-flex flex-column align-items-center">
                <h1>총 테스터수</h1>
                <h2><%=@total_testernumber%></h2>
            </div>
            <span></span>
            <div class="d-flex flex-column align-items-center">
                <h1>총 리워드</h1>
                <h2>0P</h2>
                <span class="underline"></span>
            </div>
        </div>
        <%=render 'third-box'%>
    </div>
    <div class="testing-third-bottom">
        <form id="third-form">
            <%@params[:customer].each do |a,b|%>
                <input name="[customer][<%=a%>]" value="<%=b%>" type="hidden">
            <%end%>
            <%@params[:purpose].each do |a,b|%>
                <%b.each do |c, d |%>
                    <%if c =="minute" || c == "second" || c == "goal" || c== "purpose-is"%>
                    <%then%>
                        <input name="[purpose][<%=a%>][<%=c%>]" value="<%=d%>" type="hidden">
                    <%else%>
                        <%d.each do |e,f|%>
                            <input name="[purpose][<%=a%>][<%=c%>][<%=e%>]" value="<%=f%>" type="hidden">
                        <%end%>
                    <%end%>
                <%end%>
            <%end%>
            <input type="hidden" value="complete" name="[second-step]">
        </form>
        <form class="third-form">
            <%@params[:customer].each do |a,b|%>
                <input name="<%=a%>" value="<%=b%>" type="hidden">
            <%end%>
            <%@params[:purpose].each do |a,b|%>
                <%b.each do |c, d |%>
                    <%if c =="minute" || c == "second" || c == "goal" || c== "purpose-is"%>
                    <%then%>
                        <input name="<%=a%>-<%=c%>" value="<%=d%>" type="hidden">
                    <%else%>
                        <%d.each do |e,f|%>
                            <input name="<%=a%>-<%=c%>-<%=e%>" value="<%=f%>" type="hidden">
                        <%end%>
                    <%end%>
                <%end%>
            <%end%>
            <div class="testing-third-bottom-top">
                <h1>추가 텍스트 입력</h1>
                <textarea name="message" placeholder="추가적으로 테스터들에게 궁금하거나 문의하실 사항이 있으시면 자유롭게 적어주세요.&#13;&#10;이 내용은 모든 테스트 진행을 마친 후, 각 테스터들에게 제공됩니다.&#13;&#10; *500자 내외"></textarea>
            </div>
            <div class="testing-third-bottom-middle d-flex align-items-center">
                <section class="d-flex align-items-center">
                <label>
                    <input class="agree" type="checkbox" name="agree" value="agree">
                    <span  class="contract" ></span>
                </label>
                <h1>더 테스터의 이용약관에 동의합니다.</h1>
                </section>
                <div id="term-of-use-open2"><h1>이용약관 보기</h1></div>
            </div>
        </form>
        <div class="testing-third-bottom-bottom">
            <input value="수정하기" type="button" id ="modify"/>
            <input value="제출하기" type="button" id ="submit"/>
        </div>
    </div>
</div>
<div class="testing-third-loading">
    <%=image_tag("preloader.svg")%>
</div>
<div class="submit" style="display:none;">
    <div class="submit-box">
         <%=image_tag("submit.svg")%>
        <h1>제출이 완료되었습니다.</h1>
        <h2>담당 매니저가 접수 내용을 확인한 후,<br>
        별 다른 이상이 없을 시 테스트 진행을 도와드릴거예요.<br>
        테스트 기간은 5~6일 정도 소요됩니다. </h2>
        <button>확인</button>
    </div>
</div>
<form class="redirect" type="hidden" action="/" method="get">
</form>

<%=javascript_include_tag "testing_third"%>

<Script>
    var btn2 = document.getElementById("term-of-use-open2");
    btn2.onclick = function() {
    modal.style.display = "block";
    }   
</script>