
<%=render "testing-start"%>
<div class="testing w-100 d-flex flex-column align-items-center">
<%@testing_page = {"third"=>"third"}%>
    <%= render partial: "testing-top", locals: { testing: 'third' }%>
    <%@total_test =0%>
    <%@total_reward = 0%>
    <%@total_purpose = 0%>
    <%params['purpose'].each do |a,b|%>
    <%@testernumber=0%>
    <%if b['purpose-is'] != ''%>
    <%@total_purpose+=1%>
    <%end%>
    <%b.each do |c,d|%>
    <%if c != "goal" then%>
    <%@testernumber+=d['testernumber'].to_i()%>
    <%end%>
    <%end%>
    <%@total_test += @testernumber%>
    <%@total_reward += (@testernumber.to_i()*(b['minute'].to_i()*60+b['second'].to_i())*1/2)%>
    <%end%>
    <div class="testing-third-top">
        <div class="testing-third-top-top">
            <div class="d-flex flex-column align-items-center">
                <h1>총 목표수</h1>
                <h2><%=@total_purpose%></h2>
            </div>
            <span></span>
            <div class="d-flex flex-column align-items-center">
                <h1>총 테스터수</h1>
                <h2><%=@total_test%></h2>
            </div>
            <span></span>
            <div class="d-flex flex-column align-items-center">
                <h1>총 리워드</h1>
                <h2>0P</h2>
                <span class="underline"></span>
            </div>
        </div>
        <%=render 'third-box'%>
    </div>
    <div class="testing-third-bottom">
        <form  class="third-form"  >
        <%@params[:customer].each do |a,b|%>
            <input name="<%=a%>" value="<%=b%>" type="hidden">
        <%end%>
        <%@params[:purpose].each do |a,b|%>
            <%b.each do |c, d |%>
                <%if c =="minute" || c == "second" || c == "goal" || c== "purpose-is"%>
                <%then%>
                    <input name="<%=a%>-<%=c%>" value="<%=d%>" type="hidden">
                <%else%>
                    <%d.each do |e,f|%>
                        <input name="<%=a%>-<%=c%>-<%=e%>" value="<%=f%>" type="hidden">
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
        </form>
        <div class="testing-third-bottom-top">
            <h1>추가 텍스트 입력</h1>
            <textarea name="message" placeholder="추가적으로 테스터들에게 궁금하거나 문의하실 사항이 있으시면 자유롭게 적어주세요.&#13;&#10;이 내용은 모든 테스트 진행을 마친 후, 각 테스터들에게 제공됩니다.&#13;&#10; *500자 내외"></textarea>
        </div>
        <div class="testing-third-bottom-middle d-flex align-items-center">
            <section class="d-flex align-items-center">
            <label>
                <input type="checkbox" name="agree" value="agree">
                <span  class="contract" ></span>
            </label>
            <h1>더 테스터의 이용약관에 동의합니다.</h1>
            </section>
            <div><h1>이용약관 보기</h1></div>
        </div>
        </form>
        <div class="testing-third-bottom-bottom" action="/testing/third" method="get" name="first">
            <input value="수정하기" type="button" id ="modify"/>
            <input value="제출하기" type="button" id ="submit"/>
        </div>
    </div>
</div>
<div class="testing-third-loading">
    <%=image_tag("preloader.svg")%>
</div>

<form type="hidden" action="/testing/submit" method="post" class="submit" >
        <%@params[:customer].each do |a,b|%>
            <input name="[customer][<%=a%>]" value="<%=b%>" type="hidden">
        <%end%>
        <%@params[:purpose].each do |a,b|%>
            <%b.each do |c, d |%>
                <%if c =="minute" || c == "second" || c == "goal" || c== "purpose-is"%>
                <%then%>
                    <input name="[purpose][<%=a%>][<%=c%>]" value="<%=d%>" type="hidden">
                <%else%>
                    <%d.each do |e,f|%>
                        <input name="[purpose][<%=a%>][<%=c%>][<%=e%>]" value="<%=f%>" type="hidden">
                    <%end%>
                <%end%>
            <%end%>
        <%end%>
</form>
<form type="hidden" action="/testing/first" method="get" class="modify" >
</form>
<script>
if(navigator.userAgent.match(/Mobile|iP(hone|od)|BlackBerry|IEMobile|Kindle|NetFront|Silk-Accelerated|(hpw|web)OS|Fennec|Minimo|Opera M(obi|ini)|Blazer|Dolfin|Dolphin|Skyfire|Zune/)){
        console.log("Mobile"); 
       $(".testing").remove();
       $(".testing-mobile").css({"display":"block"});
    } else {
        console.log("PC");
    }
var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++) {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
console.log(vars)
   
$(".navbar-nav a:nth-child(5)").addClass("color");
$("html, body").scrollTop($(".testing-top").offset().top)
    $("#submit").click(function() {
        var authe = true;
        if (authe) {
            $.ajax({
                url: "https://script.google.com/macros/s/AKfycbz-puVX2a8R0CZQv9B-LuvAZ6lf_l7GkT0mI18IkQ/exec",
                type: 'POST',
                data: $(".third-form").serialize(),
                beforeSend: function(e) {
                    authe = false;
                    $(".testing-third-loading").css({"display":"flex"});
                    $(".testing-third-loading").css({"display":"flex"});
                },
                error : function(error) {
                    $(".testing-third-loading").css({"display":"none"});
                    authe = false;
                },
                success : function(data) {
                    $(".submit").submit();
                    
                },
                fail: function() {
                    authe = false;
                    $(".testing-third-loading").css({"display":"none"});
                },
                complete : function() {  
                }
            })        
        }
           
    });
    $("#modify").click(function() {
        $(".modify").submit();
        });
</script>
